header {
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}

.galleryContainer {
    max-width: 1000px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: repeat(3, minmax(220px, 1fr));
    grid-row-gap: 2px;
}

.gallery {
display: flex;
justify-content: center;
}

